<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | <%= yield(:title) %> Sample App</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      The Ruby on Rails.
     
      This is the sample application on Ruby.
    </p>
  </body>
</html>